@charset "UTF-8";

header
{
	background-image: url('./images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
}
header h1
{
	font-family: 'Inconsolata', monospace;
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*gap: 10px;*/
}
.item{
	background: #0bd;
	color: #fff;
	margin: 5px;
	padding: 10px;
}